<!DOCTYPE html> 
<html>
<head>
    <title>Email Spam Detector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Spam Email Detector</h1>

    <textarea id="message" placeholder="Enter your email message here..."></textarea>

    <button onclick="checkSpam()">Check</button>

    <h2 id="result"></h2>

    <p class="footer">
        <a href="https://www.linkedin.com/in/narendra-krishnan-k-s-a0646137b/" 
           target="_blank" 
           style="color:#00f7ff; text-decoration:none;">
           Created by Narendra Krishnan K.S. (AIML)
        </a>
    </p>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>